{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-10">
    <table class="col-10 table table-sm table-bordered table-striped mx-auto text-center agenda" >
        <thead class="colorCustom">
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Horário</th>
                <th scope="col">Paciente</th>
                <th scope="col">Opções</th>
                
            </tr>
        </thead>
        <tbody>
            {% for consulta in lst_consultas %}
            <tr>

                <th scope="row">{{ consulta.data }}</th>
                <th scope="row">{{ consulta.hora }}</th>
                <td>{{ consulta.paciente.nome }}</td>
        
                <td>    
                    <a href="{% url 'det-exame' consulta.paciente.id  %}" class="btn btnCustom btn-sm btn-block btn-primary"> <i class="fas fa-hand-holding-medical"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}