{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main class="container-fluid">
  <section class="mx-auto">
    <section class="col-10 mt-x">
      {{ form.media }}
      <div class="col">
        <input type="hidden" name="url" id="url_medico" value="{% url 'buscar_medico' %}">
        <input type="hidden" name="url" id="url_paciente" value="{% url 'buscar_paciente' %}">
        {% include 'partials/_alertas.html' %}
        <div class="card mt-y">
          <div class="info-section">
            <h3> Marcar Consulta
              <div class="border"></div>
            </h3>
            <form id="form" class="formNovaConsulta p-5" action="{% url 'minha_consulta' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <div class="row">
                  <div class="form-group col-4">
                    <label for="cpf">CPF:</label>
                    {{form.cpf|add_class:'form-control'}}
                  </div>
                  <div class="form-group col-8">
                    <label for="paciente">Paciente:</label>
                    {{form.paciente|add_class:'form-control'}}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-6">
                    <label for="id_data">Data:</label>
                    {{form.data|add_class:'form-control'}}
                  </div>
                  <div class="form-group col-6">
                    <label for="id_hora">Horário:</label>
                    {{form.hora|add_class:'form-control'}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="medicos">Médicos disponíveis:</label>
                  {{form.medico|add_class:'form-control'}}
                </div>
                <input type="submit" value="Agendar" class="btn btn-success mb-5" style="float: right;">
            </form>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>

<script src="{% static 'js/utils/jquery.mask.js' %}"></script>
<script src="{% static 'js/validacoes.js' %}"></script>

{% endblock%}