{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<section class="col-10 mt-x">
  {{ form.media }}
  <div class="col-10 mx-auto">
    <div class="row">

      <div class="col-6">
        <img src="{% static 'images/cuidados.jpg' %}" class="img-fluid mx-auto d-block mt-5 img-c19" alt="">
      </div>
      <div class="col-6">

        <input type="hidden" name="url" id="url_medico" value="{% url 'buscar_medico' %}">
        <input type="hidden" name="url" id="url_paciente" value="{% url 'buscar_paciente' %}">

        {% include 'partials/_alertas.html' %}
        <form id="form" class="formNovaConsulta" action="{% url 'minha_consulta' %}" method="POST">
          {% csrf_token %}
          {% for field in form.visible_fields %}

          <div class="form-group">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field|add_class:'form-control'}}
          </div>
          {% endfor %}
          <input type="submit" value="Agendar" id="teste" class="btn btn-sm btn-success mb-5" style="float: right;">
        </form>

      </div>
    </div>
  </div>

</section>
<script src="{% static 'js/utils/jquery.mask.js' %}"></script>
<script src="{% static 'js/validacoes.js' %}"></script>

{% endblock%}