{% load static %}
<div class="carousel_campanha ">
  <div class="carousel slide p-5 mt-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/covid-19.png' %}" class="d-block w-100" alt="..." alt="">

      </div>
      <div class="carousel-item">
        <img src="{% static 'images/dengue.png' %}" class="d-block w-100" alt="..." alt="">

      </div>
      <div class="carousel-item">
        <img src="{% static 'images/doacao.png' %}" class="d-block w-100" alt="..." alt="">

      </div>
    </div>
  </div>
</div>