{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if tipo == 1 %}
<section id="exames">
  <div class="card d-print-none">
    <div class="info-section pr-3 pl-3">
      <h3> Histórico de exames <div class="border mb-5"></div>
      </h3>
      <table class="table table-sm table-bordered table-striped text-center">
        <thead class="colorCustom ">
          <tr>
            <th scope="col">Data do exame</th>
            <th scope="col">Opções</th>
        </thead>
        <tbody>
          {% for exame in exames %}
          <tr>
            <td>
              {{ exame.data_exame|date:'d/m/Y'}}
            </td>
            <td>
              <a href="#" class="btn btn-sm btnCustom" data-toggle="modal" data-target="#exame{{exame.id}}">
                <i class="far fa-file-pdf"></i></i> </a>

              <a href="{% url 'del-exame' exame.id  %}" class="btn btn-danger btn-sm "> <i class="fas fa-minus"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <nav>
      {% if exames.has_other_pages %}
      <ul class="pagination justify-content-center">

        {% if exames.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ exames.previous_page_number }}#exames">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&laquo;</a>
        </li>
        {% endif %}
        {% for pagina in exames.paginator.page_range %}
        {% if exames.number == pagina %}
        <li class="page-item active"> <a class="page-link">{{ pagina }}</a></li>
        {% else %}
        <li class="page-item">
          <a href="?page={{ pagina }}#exames" class="page-link">{{ pagina }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if exames.has_next %}
        <li class="page-item">
          <a href="?page={{ exames.next_page_number }}#exames" class="page-link">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}

      </ul>
      {% endif %}
    </nav>

  </div>
</section>
{% endif%}


<div class="card">
  <div class="info-section">
    <h3> Dados Pessoais
      <div class="border"></div>
    </h3>
    <ul class="list-group list-group-flush mb-3  info">
      <li class="list-group-item">Nome:
        <span style="font-weight: 700;"> {{ paciente.nome}}
        </span>
      </li>
      <li class="list-group-item">Sexo:
        <span> {{ paciente.sexo}}
        </span>
      </li>
      <li class="list-group-item">Data de Nascimento:
        <span> {{ paciente.data_nascimento}}
        </span>
      </li>
      <li class="list-group-item">Idade:
        <span> {{ paciente.idade}} anos.
        </span>
      </li>
      <li class="list-group-item">CPF:
        <span> {{ paciente.cpf}}
        </span>
      </li>
      <li class="list-group-item">RG:
        <span> {{ paciente.rg}}
        </span>
      </li>
      <li class="list-group-item">Convênio:
        <span> {{ paciente.carteira_convenio}}
        </span>
      </li>
    </ul>
    {% if tipo == 1 %}
    <h3> Informações adicionais (Resultados)
      <div class="border"></div>
    </h3>
    <ul class="list-group list-group-flush info">
      <li class="list-group-item">Peso:
        <span> {{ paciente.peso}} Kg.
        </span>
      </li>
      <li class="list-group-item">Altura:
        <span> {{ paciente.altura}} cm.
        </span>
      </li>
      <li class="list-group-item">IMC:
        <span> {{ paciente.imc}}
        </span>
      </li>
    </ul>
    {% endif %}
    <h3> Contato
      <div class="border"></div>
    </h3>
    <ul class="list-group list-group-flush info">
      <li class="list-group-item">E-mail:
        <span> {{ paciente.email}}
        </span>
      </li>
      <li class="list-group-item">Telefone:
        <span> {{ paciente.telefone}}
        </span>
      </li>
      <li class="list-group-item">Celular:
        <span> {{ paciente.celular}}
        </span>
      </li>
    </ul>
    {% if tipo == 2 %}
    <h3> Endereço
      <div class="border"></div>
    </h3>
    <ul class="list-group list-group-flush info">
      <li class="list-group-item">Endereço:
        <span> {{ paciente.endereco}}
        </span>
      </li>
      <li class="list-group-item">Número:
        <span> {{ paciente.end_num}}
        </span>
      </li>
      <li class="list-group-item">Complemento:
        <span> {{ paciente.complemento}}
        </span>
      </li>
    </ul>
    {% endif %}
    <ul class="list-group list-group-flush info mt-3 d-print-none" style="float: right;">
      <li>
        <a href="{% url 'altera_paciente' paciente.id %}" type="button" class="btn btn-secondary"
          style="color: #fff;">Alterar</a>
        <button class="btn btn-info " onclick="window.print()">Imprimir</button>
      </li>

    </ul>
  </div>

</div>

<!--Modal de exames-->
{% for exame in exames %}
<div class="modal" id="exame{{exame.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exame realizado em {{ exame.data_exame|date:'d/m/Y' }}</h5>
        <!-- <h5 class="modal-title">Paciente: {{ exame.paciente.nome }}</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="infor-section">
          <ul class="list-group list-group-flush mb-3  info">
            <li class="list-group-item">Glicose:
              <span> {{ exame.glicose }}
              </span>
            </li>
            <li class="list-group-item">LDL:
              <span> {{ exame.ldl }}
              </span>
            </li>
            <li class="list-group-item">HDL:
              <span> {{ exame.hdl }}
              </span>
            </li>

            <li class="list-group-item">Triglicerides:
              <span> {{ exame.triglicerides }}
              </span>
            </li>
            <li class="list-group-item">Colesterol:
              <span> {{ exame.colesterol }}
              </span>
            </li>
            <li class="list-group-item">VLDL:
              <span> {{ exame.vldl }}
              </span>
            </li>

          </ul>
        </div>


      </div>
      <div class="modal-footer">
        <!--Colocar o redirecionamento para o PDF {{ exame.pdf }}-->
        <!-- <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal"> <i
            class="far fa-file-pdf"></i></i>
          Exportar PDF</button> -->
        <button type="button" class="btn btn-modal att" data-dismiss="modal"> Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}