{% load static %}
<header class="fixed-top">
    <div class="inner-width">
        <a href="{% url 'dashboard' %}" class="logo">
            <img src="{% static  'images/logo.png' %}" alt="" srcset=""></a>
    </div>
    <button class="menu-toggle-btn btn">
        <i class=" fas fa-bars" id="icon"></i>
    </button>
    <nav class="navigation-menu bg-nav ">
        <a href="{% url 'dashboard' %}"> <i class="fas fa-clinic-medical"></i> Página inicial </a>
        <a href="{% url 'edit-user' request.user.id %}"> <i class="fas fa-align-left"></i> Dados Pessoais </a>
        <a href="{% url 'consultas' %}"> <i class="fas fa-notes-medical"></i> Consultas </a>
        <a href="{% url 'pacientes' %}"> <i class="fas fa-hospital-user"></i></i>  Pacientes </a>
        {% if tipo == 2 %}
        <a href="{% url 'usuarios' %}"> <i class="fas fa-users"></i></i>   Usuários </a>
        {% endif %}
        <a href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> Sair </a>
    </nav>
</header>
<script>
    $(".menu-toggle-btn").mousedown(function () {
        $("#icon").toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
    });
    $(".bg-nav").mouseleave(function () {
        $("#icon").toggleClass("fa-bars");
        $(".navigation-menu").removeClass("active");
    });
</script>