{% load static %}
<div class="sidebar">
    <div class="card m-4">
        <img src="{% static 'images/b2.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="">
    </div>
    <ul>
        <li><i class="fab fa-wordpress"></i></li>
        <li><i class="fab fa-facebook"></i></li>
        <li><i class="fab fa-whatsapp"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-instagram"></i></li>
    </ul>
    <footer class="f-custom">
        <div class="text-center mt-5">
            <span>CodeToth&#174;</span>
        </div>
    </footer>
</div>
