{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <section class="container-fluid">
        <div class="row mt-x" style="background-color: rgba(246, 245, 245, 0.856);">
            <!--Grafico Historico de exames-->
            <div class="col-6 " >
                <canvas id="chart"></canvas>
            </div>
            <!--Tabela de referencia-->
            <div class="col-4 pr-5 mt-y">
                <table class="table table-sm table-bordered table-striped mx-auto text-center" >
                    <thead class="colorCustom">
                        <tr>
                            <th scope="col">Exame</th>
                            <th scope="col">Valor Ref.</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for exame in exame_referencia %}
                        <tr>
                            <th scope="row">Glicose Máx:</th>
                            <td>{{ exame.glicose}}</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">LDL Máx:</th>
                            <td>{{ exame.ldl_max}}</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">HDL Máx:</th>
                            <td>{{ exame.hdl_min}}</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">Triglicerides Máx</th>
                            <td>{{ exame.triglicerides_max}}</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">Colesterol Máx</th>
                            <td>{{ exame.colesterol_max}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-4">
            <div class="col-10">
                 
                <div class="row mb-3">
                    <div class="mx-auto">
                        {% include 'partials/_alertas.html' %}
                    </div>
                    
                    <!--Importador de PDF-->
                    <form action="{% url 'importar'%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="paciente" value="{{ paciente.id }}">      
                        <input type="button" class="btn btn-sm btn-secondary" id="btn-ipdf" value="Selecionar">
                        <input type="file" name="pdf" id="arquivo" class="arquivo" accept=".pdf" required="required">
                        <input type="text" name="file" id="file" class="file" placeholder="Arquivo" readonly="readonly" >
                        <button type="submit" class="btn btn-ipdf">Importar</button>
                    </form>         
                </div>

                <div class="mb-3" style="float: right !important;">
                    <!-- Botão Cadastro de exame-->
                    <button type="button" class="btn btn-sm btnCustom ml-5" data-toggle="modal" data-target="#Cadastro">
                        Novo Exame
                    </button>
                </div>

                <!--Histórico de exames-->
                <table class="table table-sm table-bordered table-striped text-center " id=exames>
                    
                    <thead class="colorCustom ">
                        <tr>
                            <th scope="col">Paciente</th>
                            <th scope="col">Data do exame</th>
                            <th scope="col">Opções</th>
                    </thead>
                    <tbody>
                    
                        {% for exame in exames_det %}
                        <tr>
                            <td>
                                {{ exame.paciente.nome}}
                            </td>
                            <td>
                                {{ exame.data_exame}}
                            </td>
                            <td>
                                <a href="#" class="btn btnCustom btn-sm " data-toggle="modal"
                                    data-target="#exame{{exame.id}}" style="color: white!important;"> <i class="far fa-file-pdf"></i></i> </a>
                            
                                <a href="{% url 'del-exame' exame.id  %}" class="btn btn-danger btn-sm "> <i class="fas fa-minus"></i> </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>  

<!--Paginação-->
<div class="col-10">
    <nav aria-label="Page navigation example">
        {% if exames_det.has_other_pages %}
        <ul class="pagination justify-content-center">
        
            {% if exames_det.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ exames_det.previous_page_number }}#exames" >&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
            </li>
            {% endif %}
            {% for pagina in exames_det.paginator.page_range %}
                {% if exames_det.number == pagina %}
                <li class="page-item active"> <a class="page-link">{{ pagina }}</a></li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{ pagina }}#exames" class="page-link">{{ pagina }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if exames_det.has_next %}
                <li class="page-item">
                    <a href="?page={{ exames_det.next_page_number }}#exames" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
            {% endif %}
        
        </ul>
        {% endif %}
    </nav>
</div>

<!-- Modal Cadastro de exame-->
<div class="modal fade" id="Cadastro" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Cadasto de Exame</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'cadastro' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="paciente" value="{{ paciente.id }}">    
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="data">Data</label>
                        <input type="date" class="form-control" id="data" name="data">
                    </div>
                
                    <div class="form-group col-md-6">
                        <label for="glicose">Glicose</label>
                        <input type="number" class="form-control" id="glicose" name="glicose">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ldl">LDL</label>
                        <input type="number" class="form-control" id="ldl" name="ldl">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="hdl">HDL</label>
                        <input type="number" class="form-control" id="hdl" name="hdl">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="triglicerides">Triglicerides</label>
                        <input type="number" class="form-control" id="triglicerides" name="triglicerides">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="colesterol">Colesterol </label>
                        <input type="number" class="form-control" id="colesterol" name="colesterol">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-block btn-success">Salvar</button>
                </div>
            
            </form>
        </div>
        </div>
    </div>
</div>

<!--Modal Exame detalhes-->
{% for exame in exames %}
    <div class="modal" id="exame{{exame.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Exame realizado em {{ exame.data_exame }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                
                <div class="infor-section">
                    <ul class="list-group list-group-flush mb-3  info">
                        <li class="list-group-item">Glicose:
                            <span> {{ exame.glicose }}
                            </span>
                        </li>
                        <li class="list-group-item">LDL:
                            <span> {{ exame.ldl }}
                            </span>    
                        </li>
                        <li class="list-group-item">HDL:
                            <span> {{ exame.hdl }}
                            </span>
                        </li>
                        
                        <li class="list-group-item">Triglicerides:
                            <span> {{ exame.triglicerides }}
                            </span>
                        </li>
                        <li class="list-group-item">Colesterol:
                            <span> {{ exame.colesterol }}
                            </span>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
            <!--Colocar o redirecionamento para o PDF {{ exame.pdf }}-->
            <button type="button" class="btn btn-modal" data-dismiss="modal"> <i class="far fa-file-pdf"></i></i> Exportar PDF</button>
            <button type="button" class="btn btn-modal att" data-dismiss="modal"> Fechar</button>
            </div>
        </div>
        </div>
    </div>
{% endfor %}

<!--Input FILE custom-->
<script>
    $('#btn-ipdf').on('click', function() {
        $('.arquivo').trigger('click');
    });

    $('.arquivo').on('change', function() {
        var fileName = $(this)[0].files[0].name;
        $('#file').val(fileName);
    });

</script>
<!--CartJs-->
<script>        
        var ctx = document.getElementById('chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                
                    
                labels: [ 
                {% for exame in exames %}
                    '{{ exame.data_exame }}', 
                {% endfor %}
                ],
                    
                
                datasets: [{
                    label: 'Colesterol',
                    
                    data: [
                    {% for exame in exames %}
                    '{{ exame.colesterol }}', 
                    {% endfor %}
                    ],

                    fill: false,
                    borderColor: [
                        'rgba(255, 0, 0, 0.5)',
                    ],

                
                },{
                        label: 'Glicose',
                        fill: false,
                        borderColor: [
                        'rgba(42, 145, 171, .5)',
                        
                    ],
                    data: [
                    {% for exame in exames %}
                    '{{ exame.glicose }}', 
                    {% endfor %}
                    ],
                },
                {
                        label: 'HDL',
                        fill: false,
                        borderColor: [
                        'rgba(142, 145, 71, .5)',
                        
                    ],
                    data: [
                    {% for exame in exames %}
                    '{{ exame.hdl }}', 
                    {% endfor %}
                    ],
                },
                {
                        label: 'LDL',
                        fill: false,
                        borderColor: [
                        'rgba(42, 45, 71, .5)',
                        
                    ],
                    data: [
                    {% for exame in exames %}
                    '{{ exame.ldl }}', 
                    {% endfor %}
                    ],
                },
                {
                        label: 'Triglicerides',
                        fill: false,
                        borderColor: [
                        'rgba(42, 145, 71, .5)',
                        
                    ],
                    data: [
                    {% for exame in exames %}
                    '{{ exame.triglicerides }}', 
                    {% endfor %}
                    ],
                },
            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        top: 0,
                        bottom: 0
                    }
                }
            }
        });



</script>
{% endblock %}