{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="container__exames">
  <section class="col-lg-10">
    <!--Gráficos e Tabela Referência-->
    <section class="col-lg-10 mx-auto container__resultados mb-2">
      <!--Grafico Historico de exames-->
      <div class="container__resultados__grafico">
        <canvas id="chart"></canvas>
      </div>
      <!--Tabela de referencia-->
      <div class="container__resultados__referencia">
        
        <table class="table table-sm table-bordered table-striped text-center">
          <thead class="colorCustom">
            <tr>
              <th scope="col">Exame</th>
              <th scope="col" colspan="2">Valor Ref.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Glicose:</th>
              <td>{{ exame_referencia.glicose_min}}</td>
              <td>{{ exame_referencia.glicose_max}}</td>
            </tr>
            <tr>
              <th scope="row">LDL:</th>
              <td>{{ exame_referencia.ldl_min}}</td>
              <td>{{ exame_referencia.ldl_max}}</td>
            </tr>
            <tr>
              <th scope="row">HDL:</th>
              <td>{{ exame_referencia.hdl_min}}</td>
              <td>{{ exame_referencia.hdl_max}}</td>
            </tr>
            <tr>
              <th scope="row">Triglicerides:</th>
              <td>{{ exame_referencia.triglicerides_min}}</td>
              <td>{{ exame_referencia.triglicerides_max}}</td>
            </tr>
            <tr>
              <th scope="row">Colesterol:</th>
              <td>{{ exame_referencia.colesterol_min}}</td>
              <td>{{ exame_referencia.colesterol_max}}</td>
            </tr>
            <tr scope="row">
              <th>VLDL:</th>
              <td>{{ exame_referencia.vldl_min }}</td>
              <td>{{ exame_referencia.vldl_max }}</td>
            </tr>
          </tbody>
        </table>
        <!--Mensagem com observação de Idade-->
        <div class="mx-auto">
          <p style="color: #00004d;  font-size: 14px;"> ** Tabela de ref. para pacientes com idade entre {{exame_referencia.idade_min}} a
            {{exame_referencia.idade_max}}. </p>
        </div>
      
      </div>
      
    </section>

    <!--Estimativa -->
    <div class="col-lg-10 mx-auto container__estimativa">
      
      <ul class="list-group estimativa">
        
        {% for dic in lst_estimativa %}  
          
          {% if dic.periodo == 0 %}

          <li class="list-group-item d-flex justify-content-between align-items-center">
            <p> O exame de <b> {{ dic.tipo_exame }} </b> está fora dos padrões de referência. </p>
            <div class="spinner-grow text-danger" role="status"></div>
          </li>
           
          {% else %}
            {% if dic.periodo <= 365   %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <p> Em aproximadamente <b> {{ dic.periodo }} </b> dias o exame de <b> {{ dic.tipo_exame }} </b> pode estar fora dos padrões de referência. </p>
              <div class="spinner-grow text-danger" role="status"></div>
            </li>
            {% endif %}
          
            {% if dic.periodo > 365 and dic.periodo < 730  %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <p> Em aproximadamente <b> {{ dic.periodo }} </b> dias o exame de<b> {{ dic.tipo_exame }} </b> pode estar fora dos padrões de referência. </p>
              <div class="spinner-grow text-warning" role="status"></div>
            </li>
            {% endif %}

            {% if dic.periodo > 730 %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <p> Em aproximadamente <b> {{ dic.periodo }} </b> dias o exame de<b> {{ dic.tipo_exame }} </b> pode estar fora dos padrões de referência. </p>
              <div class="spinner-grow text-info" role="status"></div>
            </li>
            {% endif %}
          
          {% endif %}
        
        {% endfor %}
      </ul>
    </div>

    <!--Novos Exames-->
    <section class="col-lg-10 mx-auto">      
        
        
          <!--Mensagem de Importação-->
          <div class="mx-auto">
            {% include 'partials/_alertas.html' %}
          </div>
          <!--Importador de PDF-->
          <div class="formImportacao">
            <!--Formuladrio para importação-->
            <form action="{% url 'importar'%}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="paciente" value="{{ paciente.id }}">
              <input type="button" class="btn btn-sm btn-secondary" id="btn-ipdf" value="Selecionar">
              <input type="file" name="pdf" id="arquivo" class="iptArquivo" accept=".pdf" required="required">
              <input type="text" name="file" id="file" class="file" placeholder="Arquivo" readonly="readonly">
              <button type="submit" class="btn btn-ipdf">Importar</button>
            </form>
          
            <!-- Botão Cadastro de exame-->
            
              <button type="button" class="btn btn-sm btnCustom ml-5" data-toggle="modal" data-target="#Cadastro">
                Novo Exame
              </button>
            
          </div>
        {% include 'partials/_det_paciente.html' %}
    </section>
  
  </section>
</main>
<!-- Modal Cadastro de exame-->
<div class="modal fade" id="Cadastro" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Cadasto de Exame</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'cadastro' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="paciente" value="{{ paciente.id }}">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="data">Data</label>
              <input type="date" class="form-control" id="data" name="data" required="required">
            </div>

            <div class="form-group col-md-6">
              <label for="glicose">Glicose</label>
              <input type="number" class="form-control" id="glicose" name="glicose" required="required">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ldl">LDL</label>
              <input type="number" class="form-control" id="ldl" name="ldl" required="required">
            </div>
            <div class="form-group col-md-6">
              <label for="hdl">HDL</label>
              <input type="number" class="form-control" id="hdl" name="hdl">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="triglicerides">Triglicerides</label>
              <input type="number" class="form-control" id="triglicerides" name="triglicerides" required="required">
            </div>
            <div class="form-group col-md-6">
              <label for="colesterol">Colesterol </label>
              <input type="number" class="form-control" id="colesterol" name="colesterol" required="required">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-block btn-success">Salvar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!--Input FILE custom-->
<script>
  $('#btn-ipdf').on('click', function () {
    $('.iptArquivo').trigger('click');
  });

  $('.iptArquivo').on('change', function () {
    var fileName = $(this)[0].files[0].name;
    $('#file').val(fileName);
  });
</script>
<!--CartJs-->
<script>
  
var ctx = document.getElementById('chart').getContext('2d');

var chart = new Chart(ctx, {
  type: 'line',
  data: {


    labels: [
      {% for exame in exames_grafico %}
      '{{ exame.data_exame }}',
      {% endfor %}
    ],


    datasets: [{
        label: 'Colesterol',

        data: [
          {% for exame in exames_grafico %}
          '{{ exame.colesterol }}',
          {% endfor %}
        ],

        fill: false,

        borderColor: [
          {% for exame in exames_grafico %} 
            {% if exame.colesterol >= exame_referencia.colesterol_max %}
          'rgba(255, 51, 0, .6)',
          {% else %}
          'rgba(255, 204, 102, .5)',
            {% endif %} 
          {% endfor %}
        ],


      }, {
        label: 'Glicose',
        fill: false,
        borderColor: [
          {% for exame in exames_grafico %} 
            {% if exame.glicose >= exame_referencia.glicose_max %}
          'rgba(255, 51, 0, .6)',
          {% else %}
          'rgba(42, 145, 171, .5)',
            {% endif %} 
          {% endfor %}
        ],
        data: [
          {% for exame in exames_grafico %}
          '{{ exame.glicose }}',
          {% endfor %}
        ],
      },
      {
        label: 'HDL',
        fill: false,
        borderColor: [
          {% for exame in exames_grafico %} 
            {% if exame.hdl <= exame_referencia.hdl_min %}
          'rgba(255, 51, 0, .6)',
            {% else %}
          'rgba(142, 145, 71, .5)',
            {% endif %} 
          {% endfor %}
        ],
        data: [
          {% for exame in exames_grafico %}
          '{{ exame.hdl }}',
          {% endfor %}
        ],
      },
      {
        label: 'LDL',
        fill: false,
        borderColor: [
          {% for exame in exames_grafico %} 
            {% if exame.ldl >= exame_referencia.ldl_max %}
          'rgba(255, 51, 0, .6)',
            {% else %}
          'rgba(42, 45, 71, .5)',
            {% endif %} 
          {% endfor %}
        ],
        data: [
          {% for exame in exames_grafico %}
          '{{ exame.ldl }}',
          {% endfor %}
        ],
      },
      {
        label: 'Triglicerides',
        fill: false,
        borderColor: [
          {% for exame in exames_grafico %} 
            {% if exame.ldl >= exame_referencia.triglicerides_max %}
          'rgba(255, 51, 0, .6)',
            {% else %}
          'rgba(42, 145, 71, .5)',
            {% endif %} 
          {% endfor %}
        ],
        data: [
          {% for exame in exames_grafico %}
          '{{ exame.triglicerides }}',
          {% endfor %}
        ],
      },
      {
        label: 'VLDL',
        fill: false,
        borderColor: [
          {% for exame in exames_grafico %} 
            {% if exame.vldl >= exame_referencia.vldl_max %}
          'rgba(255, 51, 0, .6)',
            {% else %}
          'rgba(42, 145, 71, .5)',
            {% endif %} 
          {% endfor %}
        ],
        data: [
          {% for exame in exames_grafico %}
          '{{ exame.vldl }}',
          {% endfor %}
        ],
      },
    ]
  },
  options: {
    maintainAspectRatio: false,

    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    layout: {
      padding: {
        left: 0,
        right: 0,
        top: 0,
        bottom: 0
      }
    }
  }
}); 

</script>
{% endblock %}