{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container-fluid">
  <section class="mx-auto">
    <section class="col-10 mt-x">
      <div class="card">
        <div class="info-section">
          <h3> Cadastro
            <div class="border"></div>
          </h3>
          <form action="{% url 'criar' %}" enctype="multipart/form-data" method="POST" class="mt-y pr-5 pl-5 ">
            {% csrf_token %}
            <!--Dados Pessoais-->

            <div class="form-row mt-y">
              <div class="col-5">
                <label for="nome">Nome Completo:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
              </div>
              <div class="col-4">
                <div class="input-group mt-y p-1">

                  <input type="file" name="foto" id="arquivo" class="iptArquivo"
                    accept="image/jpeg, image/png, image/jpg">
                  <input type="text" name="file" id="file" class="file" placeholder="selecione o arquivo..."
                    readonly="readonly" style="border: 1px solid rgba(0, 0, 0, 0.308);">
                  <input type="button" class="btn btn-sm btn-secondary" id="btn-ifoto" value="Selecionar">
                </div>
              </div>
              <div class="col-2 p-4">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="tipo" id="atendente" value="2" checked>
                  <label class="form-check-label" for="atendente">Atendente</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="tipo" id="medico" value="1">
                  <label class="form-check-label" for="medico">Médico</label>
                </div>
              </div>

            </div>
            <div class="form-row">
              <div class="col">
                <label for="data">E-mail: </label>
                <input type="text" class="form-control" id="email" name="email" required>
              </div>

              <div class="col">
                <label for="crm">CRM:</label>
                <input type="text" class="form-control" id="crm" name="crm" minlength="8" required disabled>
              </div>
            </div>
            <div class="form-row mt-y">
              <div class="col">
                <label for="sexo">Sexo:</label>
                <select class="form-control" id="sexo" name="sexo" required>
                  <option value="M">
                    Masculino</option>
                  <option value="F">
                    Feminino</option>
                </select>
              </div>
              <div class="col">
                <label for="id_data_nasc">Nascimento:</label>
                <input type="text" class="form-control" id="id_data_nasc" placeholder="dd/MM/YYYY" name="dt_nasc"
                  required>
              </div>
            </div>
            <div class="form-row mt-y">
              <div class="col">
                <label for="id_cpf">CPF:</label>
                <input type="text" name="cpf" id="id_cpf" class="form-control" required>
              </div>
              <div class="col">
                <label for="id_rg">RG:</label>
                <input type="text" name="rg" id="id_rg" class="form-control" required>
              </div>
            </div>
            <input class="btn btn-success mt-2" type="submit" value="Salvar" style="float: right;">

          </form>
        </div>
      </div>
      </div>
    </section>
  </section>
</main>
<script src="{% static 'js/utils/jquery.mask.js' %}"></script>
<script src="{% static 'js/validacoes.js' %}"></script>
<!--Input FILE custom-->
<script>
  $('#btn-ifoto').on('click', function () {
    $('.iptArquivo').trigger('click');
  });

  $('.iptArquivo').on('change', function () {
    var fileName = $(this)[0].files[0].name;
    $('#file').val(fileName);
  });

  $('.form-check-input').on('focus', function () {
    var tipo = $(this).val();
    if (tipo == 1) {
      $('#crm').attr('disabled', false);
    } else {
      $('#crm').attr('disabled', true);
    }
  });
</script>
{% endblock %}