.color-theme_logo-emp-3-rgba { color: rgba(41, 166, 73, 1); }
.color-theme_logo-emp-4-rgba { color: rgba(57, 191, 77, 1); }
.color-theme_logo-emp-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_logo-emp-1-hsla { color: hsla(231, 78, 25, 1); }
.color-theme_logo-emp-2-hsla { color: hsla(231, 41, 38, 1); }
.color-theme_logo-emp-3-hsla { color: hsla(135, 60, 40, 1); }
.color-theme_logo-emp-4-hsla { color: hsla(128, 54, 48, 1); }
.color-theme_logo-emp-5-hsla { color: hsla(0, 0, 94, 1); }



body{
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(100deg,rgba(255, 255, 255, .5), rgba(236, 234, 241, .5), rgba(213, 211, 222, 1.5));
  
}

.mt-x {
  margin-top: 5rem !important;
}

.mt-y{
  margin-top: 2rem !important;
}

.colorCustom{
  background: linear-gradient(200deg, #2d4d72, #2e69ad, #203d5f) ;
  color: #fff;
  font-weight: bold;
}

.rowCustom {
  float: right !important;
  width: 300px !important;
}

.btnCustom{
  background: linear-gradient(150deg, #4b73a1, #214b7c, #203d5f) ;
  transition: 0.1s all;
  color: #fff;
}

.btn:hover{
  transform: scale(1.1);
  background-position: right;
  color: #f2f2f2;
}

.btn-modal{
  color: #fff !important;
}

.att{
  background: linear-gradient(150deg, #E6242B, #BF221D);
}


.att:hover{
  background: linear-gradient(100deg, #E6242B, #A61E19);
}

.close>span:hover{
  color: brown !important;
}

/*EXAME*/

.iptArquivo {
  display: none;
}
.file {
  line-height: 30px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255, .1);
  box-sizing: border-box;
  border-radius: .25rem;
  font-size: 15px;
  padding: 5px;
  vertical-align: middle;
  width: 250px;
}

.btn-ipdf {
  height: 32px;
  font-size: 15px;
  vertical-align: middle;
  box-sizing: border-box;
  border: none;
  background: linear-gradient(200deg,#086b31,#027525b4,#0b942dda);
  background-size: 200%;
  color: #fff;
  padding: 5px;
  outline: none;
  cursor: pointer;
  transition: .2s;
}

.btn-ipdf:hover{
  background-position: right;
}

.btn-import{
  background-color: #214b7c !important;
  color: #fff;
  vertical-align: middle;
  padding: 5px;
  height: 32px;
  font-size: 15px;
  
}

.btn-import:hover{
  transform: scale(1.1);
  transition: 0.2s all;
  color: #fff;
  background: linear-gradient(150deg, #13568d, #214b7c);
}


/*DETALHE DO PACIENTE*/
.card{
  width: 100%;
  overflow: auto;
  font-family: "montserrat", sans-serif;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

.info-section{
  color: #333;
  background-color: #ffff;
  padding: 0% 3% 0% 3%;  
}

.info-section > h3{
  margin: 4% 0% 2% 0%;  
  font-weight: 800;
  text-transform: capitalize;
}


.info {
  
  font-weight: 600; 
}


.info span{
  font-weight: 500;   
  float: right!important;

}

.border{
  width: 30px;
  height: 3px;
  background: #778beb;
  left: 0;
  bottom: -6px;
}

p{
  text-align: justify;
  font-size: 14px;
}

.s-m{
  text-align: center;
  margin-top: 20px;
}

.s-m a{
  text-decoration: none;
  font-size: 20px;
  color: #333;
  padding: 0 14px;
  transition: .4s;
}

.s-m a:hover{
  color: #778beb;
}

/*LOGIN*/

.body-login{
  background-attachment: fixed;
  background-image: url(../images/medical-utensils.jpg);
  background-size: cover;
  
}

.login-form{
  background: #ffffffe8;
  padding: 0px 2px 50px 2px;
  border-radius: 10px;
  position: relative;
  left: 0%;
  top: 0%;
  transform: translate(0%,0%);
}

.i-login{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.i-login input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.i-login span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #616161;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.i-login span::after{
  content: '';
  position: absolute;
  width: 0%;
  top: 100%;
  left: 0;
  height: 2px;
  background: linear-gradient(200deg,#26A646,#29B34B,#208C3B);
  transition: .5s;
}

.focus+span::before{
  top: -5px;
}
.focus+span::after{
  width: 100%;
}

.btnGreen{  
  border-radius: 45px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(200deg,#003a18,#027525b4,#00cf34da);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.btnGreen:hover{
  background-position: right;
}

.rstbtn{  
  border-radius: 45px;
  display: inline-block;
  width: 50%;
  height: 30px;
  border: none;
  background: linear-gradient(200deg,#c8c8c891,#ffffff62,#e4e4e47c);
  background-size: 200%;
  color: rgb(0, 0, 0);
  outline: none;
  cursor: pointer;
  transition: .75s;
}

.rstbtn:hover{
  background-position: right;
}


/*  MENU  */

header{
  height: 60px;
  background: #102c4b;
  box-shadow: 0px 5px 13px #888888;
  
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;

}

.logo{
  float: left;
}

.logo img{
  height: 65px;
  padding: 10px 0px;
 
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  background: #102C4B;
  border-radius: 4px;
  transition: .3s linear;
  display: none;
}

.menu-toggle-btn{
  float: right;
  margin-top: 0.25rem!important;
  font-size: 26px;
  cursor: pointer;
  display: none !important;
 
  transition: 0.2s linear;
}
.fa-bars {
  color: #fff !important;
 
}

.menu-toggle-btn:hover{
  transform: scale(1.1);
}
.agenda{
  margin-top: 5rem !important;
  margin-bottom: 1.5rem !important;
  
}


/*SIDEBAR*/
.sidebar img{
  border-radius: 100% !important;
  height: 160px !important;
}
.sidebar{
  right: 0;
  top: 3.7rem !important;
  bottom: 0;
  width: 250px;
  /*background: #102c4b;*/
  background-image: linear-gradient( #102c4b,#102c4b,#1B4A80 , #1B4A80);
  box-shadow: -5px 12px 10px 1px #aaaaaa;
  background-attachment: fixed;
  overflow: hidden;
  transition: 0.8s all;
  height: 100% !important;
  position: fixed;
  z-index: 1030 !important;
}

.sidebar ul li{
  list-style: none;
}

.sidebar ul li {
  margin-top: 5px;
  padding: 12px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  text-align: center;
  display: block;
  transition: 0.6s all;


}

.sidebar ul li:hover{
  background: #29A649;
  color: rgb(0, 13, 129);
  width: 90%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.sidebar a:hover{
  text-decoration: none;
  
}


/*GRAFICO*/

.container__resultados{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:  4.75rem !important;
}

.container__resultados__grafico{
  width: 100% !important;
  height: 40vh;
  
}
.container__resultados__referencia{
  padding: 0 .725em;
}

.formImportacao{
  display: flex;
  align-items: center;
  align-content: flex-end;
}



@media screen and (max-width:1100px){

  .pr-4{
    padding-right: 0 !important;
  }

  .row {
    margin-right: -10px;
    margin-left: -10px;
  }
  
 
  .menu-toggle-btn{
      display: block !important;
  }

  .navigation-menu{
      position: fixed;
      width: 100%;
      max-width: 400px;
      background: #0d2642;
      top: 65px;
      right: 0;
      display: none;
      padding: 20px 40px;
      box-sizing: border-box;
      transition: linear 0.5s;
      
  }
  .navigation-menu::before{
      content: "";
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid #0d2642;
      position: absolute;
      top: -10px;
      right: 20px;
      
  }

  .navigation-menu a{
      display: block;
      margin: 10px 0;
  }
  .navigation-menu a:hover{
    background: #29A649;
    color: #362f40;
    transform: scale(1.1);
    text-decoration: none;
  }
  
  .navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
    
  }
  .navigation-menu.active{
      display: block;
      transition: 0.7s linear;
  }
  
  .fa-times{
    color: rgb(202, 76, 64);
  }

  .sidebar{
   display: none; /*Esconde sidebar*/
  }
  .agenda{
    max-width: 100% !important;
  }
  
  .card{
    width: 100% !important;
  }

  .container__resultados{
    flex-direction: column;
    width: 100vw;
    padding: 0 !important;
  }

  .container__resultados__grafico{
    width: 100vw !important;
  }
  
}

