{% extends 'base.html' %}
{% load static %}
{% block content %}


<main>
    <section class="container">
        {% include 'partials/_campanha.html' %}
        <div class="col-10">   
            <!--Campo de busca de pacientes-->
            <div class="rowCustom mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nome do Paciente ou Convenio">
                    <div class="input-group-append">
                        <button class="btn btnCustom " type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <!--Tabela de Paciente-->
            <table class="table table-sm table-bordered table-striped text-center mx-auto agenda" >
                <thead class="colorCustom">
                    <tr>
                        <th scope="col">Nome Completo</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Convenio</th>
                        <th scope="col">CPF</th>
                        <th scope="col">RG</th>
                        <th scope="col">Opções</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in lst_pacientes %}
                    <tr>
                        <th scope="row">{{ paciente.nome }}</th>
                        <td>{{ paciente.data_nascimento }}</td>
                        <td> {{ paciente.carteira_convenio }} </td>
                        <td> {{ paciente.carteira_convenio }} </td>
                        <td> {{ paciente.carteira_convenio }} </td>
                        
                        <td>    
                            <a href="{% url 'det_paciente' paciente.id %}" class="btn btnCustom btn-sm"> <i class="fas fa-laptop-medical"></i> </a>

                            <a href="{% url 'paciente' paciente.id %}" class="btn btnCustom btn-sm"> <i class="fas fa-pencil-alt"></i> </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>


{% endblock %}