{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/utils/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils/all.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel=" icon" href="{% static 'images/icon/favicon.ico' %}">
    <title>Med Consulta</title>
</head>
<body>
    <script src="{% static 'js/utils/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/utils/popper.min.js' %}"></script>
    <script src="{% static 'js/utils/bootstrap.js' %}"></script>
    <script src="{% static 'js/utils/Chart.js' %}"></script>
    <script src="{% static 'js/utils/all.min.js' %}"></script>

    {% include 'partials/_menu.html' %}
    {% include 'partials/_sidebar.html' %}
    {% block content %}{% endblock %}
    
    <script src="{% static 'js/app.js' %}"></script>
    

</body>
</html>